<!--<button type="button" (click)="addItem()">Add item</button>-->

<gridster class="gridster" [options]="options">
    <gridster-item [item]="question" *ngFor="let question of questions">
        <div class="default-color {{question?.color}}" (click)="changeColor(question)"></div>
        <p>
            <span class="name">{{question?.name}} {{question?.surname}}</span>
            {{question?.content}}
        </p>
    </gridster-item>

    <div class="loader" *ngIf="loader">
        <md-progress-circle
                class="example-margin"
                color="warn"
                mode="indeterminate"
        >
        </md-progress-circle>
    </div>
</gridster>